html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Josefin Sans', sans-serif;
}

.main{
    min-height: 100%;
    width: 100%;
}

.main.dark{
    background-color: hsl(235, 21%, 11%);
}

.hero{
    height: 30%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.mobile{
    background-image: url("../images/bg-mobile-dark.jpg");
}

.headerContent{
    height: 100px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.headerContent h1{
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1rem;
}

.headerContent img{
    cursor: pointer;
}

input{
    height: 50px;
    border: none;
    background-color: hsl(235, 24%, 19%);
    width: 90%;
    border-radius: 3px;
    background-image: url("../images/unchecked.png");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 25px 15px;
    padding-left: 55px;
    color: hsl(234, 11%, 52%);
    caret-color: hsl(234, 11%, 52%);
    box-sizing: border-box;
    outline: none;
    margin-bottom: 20px;
}

input::placeholder{
    color: hsl(234, 11%, 52%);
}

.todoContent{
    height: auto;
}

ul{
    padding-bottom: 10px;
}

ul li{
    min-height: 50px;
    border-bottom: 1px solid hsl(234, 11%, 52%);
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: hsl(234, 39%, 85%);
    position: relative;
    user-select: none;
    background: hsl(235, 24%, 19%);
    flex-wrap: wrap;
    font-size: 12px;
    padding: 5px;
}

ul li::before{
    content:'';
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-image: url("../images/unchecked.png");
    background-size: cover;
    top: 12px;
    left: 8px;
}

ul li span:not(.item){
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: hsl(234, 11%, 52%);
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li .item{
    width: 75%;
}

.actions{
    width: 93%;
    height: 50px;
    background-color:hsl(235, 24%, 19%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    color:hsl(234, 11%, 52%);
}

.itemsLeft{
    margin-left: 20px;
}

.clear{
    margin-right: 20px;
    cursor: pointer;
}